<!-- /views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- 引入头部组件 -->
    <%- include('../components/header') %>

    <main>
      <!-- <% data.forEach(item => { %> <%- include(`components/${item.component}`,
      item) %> <% }) %> -->
    </main>

    <!-- 引入底部组件 -->
    <%- include('../components/footer') %>
  </body>
</html>
